
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modal-form {
    font-family: 'Lucida Sans', Arial, sans-serif;
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    top: 250px;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    padding: 10px;
    display: flex;
    justify-content: space-evenly
}

/* .bet-button{
    background-color: #53d337;
    border: 1px solid #53d337;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    color: black;
}

.bet-button:hover {
    border: 1px solid white;
    color: white;
} */

.bet-button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #0df2a0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px #0df2a0;
    border-radius: 6px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.bet-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}



.modal-title {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
}

.modal-body {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.modal-team-logo {
    height: auto;
    width: 30px;
}

#favorite {
    float: inline-start;
}

#underdog {
    float: inline-end;
}


.matchup {
    font-weight: 800;
    font-size: 18px;
}

#bet-amount {
    border: 1px solid black;
}

.make-bet {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: black;
    color: white;
}

.amount {
    margin-top: 8px;
    border: 1px solid black;
    /* border: none; */
    /* border-bottom: 1px solid black; */
    border-radius: 4px;
}

/* input[type=number] {
  background-color: white;
  background-image: url('/Users/wes/Desktop/nba-bets/frontend/src/images/dollar.png');
  background-position: 100px 100px;
  background-repeat: no-repeat;
  padding-left: 40px;
} */

input:focus {
    border: 2px solid lightseagreen;
}

.make-bet {
    background-color: black;
    color: white;
    border-radius: 4px;
}

.bet-team-name {
    font-size: 18px;
    padding: 5px;
}

.show-page-errors {
    margin: 0 auto;
    flex-grow: 1;
    color: red;
    padding-top: 5px;
    background-color: black;

}

.errors {
    margin: 0 auto;
    flex-grow: 1;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.errors-hidden {
    /* display: none; */
    visibility: hidden;
}

.bet-team-container {
    display: inline;
}

/* .modal-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
} */